@{
    ViewData["Title"] = "Home Page";
}

<h1>Payton's Valorant Home Page</h1>

<div style="display: inline-block; margin-top: 15px;">
    <img src="img/GP1.webp" style="width: 600px; height: auto;" />
    <img src="img/GP2.jpg" style="width: 600px; height: auto;" />
</div>

<div style="margin-top: 15px;">
    <p>
        Valorant is a team-based tactical shooter that offers a gripping gaming experience for players of all skill levels. 
        As a Gold 1 player, I dive into the heart-pounding action of each match, where split-second decision-making and precise 
        aim are crucial. Set in a futuristic world, Valorant pits two teams against each other in strategic battles where 
        coordination and communication are key. Whether I'm playing as a duelist, controller, initiator, or sentinel agent, 
        each match presents unique challenges and opportunities to showcase my abilities and contribute to the team's success.
    </p>

    <p>
        As a Gold 1 player, I've honed my skills through countless hours of gameplay, mastering the intricacies of different 
        maps and agents. From executing precise headshots to orchestrating well-coordinated pushes with my teammates, every 
        round in Valorant is a test of strategy and skill. The satisfaction of outmaneuvering opponents with clever tactics 
        or clutching a round with a perfectly timed ultimate ability fuels my passion for the game. With its fast-paced action 
        and ever-evolving meta, Valorant continues to captivate and challenge me, making each gaming session an exhilarating 
        adventure.
    </p>
</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Calculator" style="color: blue;">Calculate how much to learn from the pro</a>
</div>